// ---------------------------------------------------------------------------
// Imports

@import "partials/_normalize";
@import "partials/_main";
@import "partials/_base";
@import "susy";
@import "compass/css3";

// Susy Settings
// 960gs based 1140px grid
//$total-columns: 12;
//$column-width: 75px;
//$gutter-width: 20px;
//$grid-padding: 10px;
// 960 grid
$total-columns: 12;
$column-width: 60px;
$gutter-width: 20px;
$grid-padding: 10px;

$container-style: static;
// A Break point at 486px to change to mobile mode might be a good idea

/* -------------------------------------------------------------------------*/
/* Color Scheme */

// One piece theme from kuler.adobe.com

$colorLighten: 5%;
$colorDarkBlue: lighten(#081640, $colorLighten);
$colorBlue: lighten(#0f2259, $colorLighten);
$colorStrongBlue: lighten(#1a6dd9, $colorLighten);
$colorGrayBlue: lighten(#ccd9d4, $colorLighten);
$colorGreen: lighten(#0a4001, $colorLighten);

$colorRed: #ff0000;
$colorStraw: #ffca05;

/* -------------------------------------------------------------------------*/
/* Other Variables */
$transDuration: 0.4s;
$transEasing: ease-in-out;

$highlightThickness: 5px;
$highlightColor: $colorStraw;
$highlightActiveColor: $colorRed;

$dividerColorA: $colorDarkBlue;
$dividerColorB: lighten($colorDarkBlue, 55%);


/* -------------------------------------------------------------------------*/
/* Layout */

html, body {
  //background-color: $colorGrayBlue;
}

html,
button,
input,
select,
textarea{
  color: $colorDarkBlue;
}

a {
  color: $colorDarkBlue;
  text-decoration: none;
}

//.grid {
//  @include span-columns(3, 9);
//  &:last-child {
//    @include omega;
//  }
//  background-color: orange;
//  min-height: 100px;
//}

.container {
  @include container;
  //@include susy-grid-background;
  //background-color: #add8e6;
  min-height: 600px;
}

// Header
header {
  @include span-columns(12);
  position: relative;
  //background-color: #90ee90;

  .logo {
    float: left;
    position: relative;
    font-family: 'Monofett', Helvetica, sans-serif;
    font-size: 36px;
    margin-top: 3px;
  }
}

.nav-wrapper {
  position: absolute;
  text-align: center;
  width: 100%;
  table {
    width: 100%;
    border: 0;
    padding: 0;
  }
}

ul.nav-ul {
  padding: 0;
  margin: 0;
  @include clearfix;
  position: relative;
  display: inline-block;
  li {
    float: left;
    list-style-type: none;
    list-style: none;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 1px;
    margin-right: 1px;
    padding-top: 9px;
    border-top: $highlightThickness solid $highlightColor;
    opacity: 1.0;
    @include transition(
        border-top $transDuration $transEasing,
        opacity $transDuration $transEasing);
    cursor: pointer;
    font-size: 18px;
    font-weight: bolder;
    a {
      color: $colorBlue;
    }
    &:hover {
      border-top: $highlightThickness solid $highlightActiveColor;
      @include transition(
          border-top $transDuration $transEasing,
          opacity $transDuration $transEasing);
      opacity: 1.0 !important;
    }
    &:active, &.active {
      border-top: $highlightThickness solid $highlightActiveColor;
    }
  }
  &:hover {
    li {
      opacity: 0.5;
      @include transition(
          border-top $transDuration $transEasing,
          opacity $transDuration $transEasing);
    }
  }
}


// Main Section (sidebar + content-box)
.divider {
  height: 1px;
  background: $dividerColorA;
  border-bottom: 1px solid $dividerColorB;
}
.container {
  > .divider {
    @include span-columns(12);
  }
}


.main-section {
  @include span-columns(12);
  padding-top: 20px;
}

// Sidebar

.side-nav ul {
  margin: 0;
  padding: 10px;

  @include border-radius(6px);
  background-color: $colorStrongBlue;
  $_fontColor: $colorGrayBlue;
  color: $_fontColor;
  font-weight: normal;
  a {
    color: $_fontColor;
  }

  li {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-left: 9px;
    border-left: $highlightThickness solid $highlightColor;
    a {
      display: inline-block;
      width: 176px;
      padding-left: 0;
      @include transition(padding-left $transDuration $transEasing);
    }
    @include transition(border-left $transDuration $transEasing);
    &:hover {
      border-left: $highlightThickness solid $highlightActiveColor;
      @include transition(border-left $transDuration $transEasing);
      a {
        padding-left: 10px;
        @include transition(padding-left $transDuration $transEasing);
      }
    }
    &:active, &.active {
      a{padding-left: 10px;}
      border-left: $highlightThickness solid $highlightActiveColor;
    }
  }

}


.sidebar-wrapper {
  @include span-columns(3, 12);
  min-height: 600px;
  //background-color: orange;
}

// Content Box
.content-wrapper {
  @include span-columns(9 omega, 12);
}

.project-box {
  p {
    //@include span-columns(6, 9);
    max-width:  columns-width(7);
    img {
      max-width: 100%;
      //max-width: percentage(columns-width(9) / columns-width(6));
      height: auto;
    }
  }
}

// Footer
footer {
  @include span-columns(12);
  background-color: #90ee90;
  text-align: center;
}