// ---------------------------------------------------------------------------
// Imports

@import "partials/_normalize";
@import "partials/_main";
@import "partials/_base";
@import "partials/_arrow";
@import "susy";
@import "compass/css3";

// Susy Settings
// 960gs based 1140px grid
//$total-columns: 12;
//$column-width: 75px;
//$gutter-width: 20px;
//$grid-padding: 10px;
// 960 grid
$total-columns: 12;
$column-width: 60px;
$gutter-width: 20px;
$grid-padding: 10px;

$container-style: static;
// A Break point at 486px to change to mobile mode might be a good idea

/* -------------------------------------------------------------------------*/
/* Color Scheme */

// One piece theme from kuler.adobe.com

$colorLighten: 5%;
$colorDarkBlue: lighten(#081640, $colorLighten);
$colorDarkBlue: #212d69;
$colorBlue: lighten(#0f2259, $colorLighten);
$colorBlue: #003fa3;
$colorStrongBlue: #1a6dd9; // kuler
//$colorStrongBlue: #003fa3; lightened kuler
//$colorStrongBlue: #00c4fb; from one piece site
//$colorGrayBlue: lighten(#ccd9d4, $colorLighten);
$colorGrayBlue: #ccd9d4;
//$colorGrayBlue: white;
$colorGreen: lighten(#0a4001, $colorLighten);
$colorLightBrown: #af6434;
$colorBrown: #653a1d;
$colorWhiteHintedBrown: #f4eae4;

$colorRed: #ff0000;
$colorStraw: #ffca05;

/* -------------------------------------------------------------------------*/
/* Other Variables */
$transDuration: 0.4s;
$transEasing: ease-in-out;

$highlightThickness: 5px;
$highlightColor: $colorStraw;
$highlightActiveColor: $colorRed;

$dividerColorA: $colorDarkBlue;
//$dividerColorA: $colorBrown;
$dividerColorB: lighten($colorDarkBlue, 55%);
//$dividerColorB: $colorLightBrown;


/* -------------------------------------------------------------------------*/
/* Layout */

html, body {
  background-color: $colorWhiteHintedBrown;
}

html,
button,
input,
select,
textarea{
  color: $colorBlue;
}

a {
  color: $colorDarkBlue;
  text-decoration: none;
  cursor: pointer;
}

//.grid {
//  @include span-columns(3, 9);
//  &:last-child {
//    @include omega;
//  }
//  background-color: orange;
//  min-height: 100px;
//}

.container {
  @include container;
  //@include susy-grid-background;
  //background-color: #add8e6;
  min-height: 600px;
}

// Header
.header-background {
  background: $colorGrayBlue;
  height: 53px;
  width: 100%;
  position: absolute;
}
header {
  @include span-columns(12);
  position: relative;
  //background-color: #90ee90;

  .logo {
    float: left;
    position: relative;
    font-family: 'Monofett', Helvetica, sans-serif;
    font-size: 36px;
    margin-top: 3px;
  }
}

.nav-wrapper {
  position: absolute;
  text-align: center;
  width: 100%;
  table {
    width: 100%;
    border: 0;
    padding: 0;
  }
}

ul.nav-ul {
  padding: 0;
  margin: 0;
  @include clearfix;
  position: relative;
  display: inline-block;
  li {
    float: left;
    list-style-type: none;
    list-style: none;
  }
  li.divider {
    width: 2px;
    border-left: 1px solid $colorDarkBlue;
    border-right: 1px solid $colorDarkBlue;
    height: 26px;
    margin: 13px 0px;
    opacity: 1.0;
    @include transition(
        opacity $transDuration $transEasing);
  }
  li.top-nav-item {
    margin-left: 1px;
    margin-right: 1px;
    border-top: $highlightThickness solid $highlightColor;
    opacity: 1.0;
    @include transition(
        border-top $transDuration $transEasing,
        opacity $transDuration $transEasing);
    cursor: pointer;
    font-size: 18px;
    font-weight: bolder;
    a {
      color: $colorDarkBlue;
      display: inline-block;
      padding-top: 9px;
      padding-bottom: 9px;
      padding-left: 12px;
      padding-right: 12px;
    }
    &:hover {
      border-top: $highlightThickness solid $highlightActiveColor;
      @include transition(
          border-top $transDuration $transEasing,
          opacity $transDuration $transEasing);
      opacity: 1.0 !important;
    }
    &:active, &.active {
      border-top: $highlightThickness solid $highlightActiveColor;
    }
  }
  &:hover {
    li {
      opacity: 0.4;
      @include transition(
          border-top $transDuration $transEasing,
          opacity $transDuration $transEasing);
    }
  }
}


// Main Section (sidebar + content-box)
div.divider {
  height: 1px;
  background: $dividerColorA;
  border-bottom: 1px solid $dividerColorB;
}
.container {
  > .divider {
    @include span-columns(12);
  }
}


.main-section {
  @include span-columns(12);
  padding-top: 20px;
}

// Sidebar
.side-nav {
  width: columns-width(3);
}
.side-nav ul {
  margin: 0;
  padding: 10px;
  @include border-radius(6px);
  background-color: $colorStrongBlue;
  $_fontColor: $colorGrayBlue;
  color: $_fontColor;
  font-weight: normal;
  a {
    color: $_fontColor;
  }

  li {
    padding: 0;
    margin-top: 1px;
    margin-bottom: 1px;
    border-left: $highlightThickness solid $highlightColor;
    a {
      display: inline-block;
      width: 176px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 9px;
      @include transition(padding-left $transDuration $transEasing);
    }
    @include transition(border-left $transDuration $transEasing);
    &:hover {
      border-left: $highlightThickness solid $highlightActiveColor;
      @include transition(border-left $transDuration $transEasing);
      a {
        padding-left: 19px;
        @include transition(padding-left $transDuration $transEasing);
      }
    }
    &:active, &.active {
      //a{padding-left: 19px;}
      border-left: $highlightThickness solid $highlightActiveColor;
    }
  }

}

$minContentHeight: 300px;

.sidebar-wrapper {
  @include span-columns(3, 12);
  min-height: $minContentHeight;
  //background-color: orange;
}

// Content Box
.content-wrapper {
  @include span-columns(9 omega, 12);
}

.loader-box {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: columns-width(12);
  height: $minContentHeight;
}

// For TransitionView.js
.transition-view-box {
  position: relative;
}

.transition-view-box .holder {
  position: absolute;
  top: 0; left: 0;
}

.project-content-box {
  p {
    //@include span-columns(6, 9);
    max-width:  columns-width(7);
    img {
      max-width: 100%;
      max-width: percentage(columns-width(9) / columns-width(6));
      height: auto;
    }
  }

  a.new-window-link {
    display: inline-block;
    width: columns-width(9);
    color: $colorDarkBlue;
    .arrow {
      position: relative;
      top: -5px;
      @include css-direction-arrow(
          $orientation:'left',
          $length:20px,
          $arrow-color: $colorDarkBlue);
      margin: 0 10px;
    }

    img {
      max-width: columns-width(7);
      height: auto;
    }
  }
}

// Footer
.divider.footer{
  margin-top: 20px;
  height: 0px;
  border-bottom: 1px solid $colorGrayBlue;
}
footer {
  @include span-columns(12);
  //background-color: #90ee90;
  text-align: center;
  padding: 40px 0;
  font-style: italic;
  font-size: 12px;
  color: $colorDarkBlue;
  text-shadow: 1px 1px $colorGrayBlue;
}