<div class="nav">
    <table>
        <tbody>
        <tr>
            <td align="center">
                <ul class="nav-ul">
                    {{#each groups}}
                        <li>{{name}}</li>
                    {{/each}}
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>